<!doctype html>
<html lang="en">
<head>
  <%- include ("./partials/head.ejs") %>
</head>
<body>

<!-- <-----------------NAVBAR----------------------------------> 
<%- include ("./partials/header.ejs") %>

<!--==========================
    Admin  Section
============================-->

<!-- Top Grey Bar with dashboard -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <!-- ================================================================================================================================ -->
            <!--                                                               Left Side Nav menu -->
            <!-- ================================================================================================================================ -->
            <%- include ("./partials/adminLeftNav.ejs") %>

            <!-- ================================================================================================================================ -->
            <!--                                                               Website Overview -->
            <!-- ================================================================================================================================ -->
            <!-- count our new and old messages -->
            <% let newMsgCountTotal = 0; %>
            <% let oldMsgCountTotal = 0; %>
            <% contactResults.forEach((eachMsg) => { %>
              <% if (eachMsg.responded == false) { %>
                <% newMsgCountTotal += 1; %>
              <%} else { %>
                <% oldMsgCountTotal += 1; %>
              <% } %>
            <% }) %>

            <div class="col-md-9">
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">Website Overview</h3>
                    </div>
                    <div class="card-body d-flex">
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-envelope" aria-hidden = "true"></span><span class="badge badge-secondary"><%= newMsgCountTotal %></span></h2>
                                <h4>New </h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-envelope-open" aria-hidden = "true"></span><span class="badge badge-secondary"><%= oldMsgCountTotal %></span></h2>
                                <h4>Old </h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-pencil" aria-hidden = "true"></span><span class="badge badge-secondary">50</span></h2>
                                <h4>Post</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-bar-chart" aria-hidden = "true"></span><span class="badge badge-secondary">200</span></h2>
                                <h4>Visitors</h4>
                            </div>
                        </div>
                      
                    </div>
                </div>

                <!-- ================================================================================================================================ -->
                <!--                                                               USER LIST -->
                <!-- ================================================================================================================================ -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title "> User List</h3>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">fname</th>
                                <th scope="col">lname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col"></th> <!--for the buttons -->
                              </tr>
                            </thead>
                            <tbody>
                              <% let userNumber = 0; %>
                              <% userResults.forEach((eachUser) => { %>
                                <% userNumber += 1; %>
                                  <tr>
                                    <th scope="row"><%= userNumber %></th>
                                    <td><%= eachUser.fName %></td>
                                    <td><%= eachUser.lName %></td>
                                    <td><%= eachUser.email %></td>
                                    <td><%= eachUser.username %></td>
                                    <td><a href="" class="btn main-btn btn-success">Edit</a><a href="" class="btn main-btn btn-danger">Delete</a></td>
                                  </tr>
                              <% }) %>
                            </tbody>
                          </table>
                    </div>
                </div>

                <!-- ================================================================================================================================ -->
                <!--                                                               NEW MESSAGES -->
                <!-- ================================================================================================================================ -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">New Messages</h3>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Message</th>
                                <th scope="col"></th> <!--for the buttons -->
                              </tr>
                            </thead>
                            <tbody>
                              <% let newMessageCount = 0; %>
                              <% contactResults.forEach((newMsg) => { %>
                                <% if (newMsg.responded == false) { %>
                                <% newMessageCount += 1; %>
                                  <tr>
                                    <th scope="row"><%= newMessageCount %></th>
                                    <td><%= newMsg.contactName %></td>
                                    <td><%= newMsg.contactEmail %></td>
                                    <td><%= newMsg.contactPhone %></td>
                                    <td><%= newMsg.contactMsg %></td>
                                    <td><a href="" class="btn main-btn btn-success">Replied?</a><a href="" class="btn main-btn btn-danger">Delete</a></td>
                                  </tr>
                              <% } %>
                              <% }) %>
                            </tbody>
                          </table>
                    </div>

                </div>
                
                <!-- ================================================================================================================================ -->
                <!--                                                               OLD MESSAGES -->
                <!-- ================================================================================================================================ -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">Old Messages</h3>
                    </div>
                    <div class="card-body"> 
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Message</th>
                            <th scope="col"></th> <!--for the buttons -->
                          </tr>
                        </thead>
                        <tbody>
                          <% let oldMessageCount = 0; %>
                          <% contactResults.forEach((oldMsg) => { %>
                            <% if (oldMsg.responded == true) { %>
                            <% oldMessageCount += 1; %>
                              <tr>
                                <th scope="row"><%= oldMessageCount %></th>
                                <td><%= oldMsg.contactName %></td>
                                <td><%= oldMsg.contactEmail %></td>
                                <td><%= oldMsg.contactPhone %></td>
                                <td><%= oldMsg.contactMsg %></td>
                                <td><a href="" class="btn main-btn btn-success">New</a><a href="" class="btn main-btn btn-danger">Delete</a></td>
                              </tr>
                          <% } %>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================================================================================================================== -->
                                        <!-- Objects sent to this page by the server -->
<!-- ==================================================================================================================== -->
<!-- contactResults -->
<!-- userResults -->
<!-- peoplesResults -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

