<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Help info</title> -->
    <%- include ("./partials/head.ejs") %>


</head>
<body>
<!-- <-----------------NAVBAR----------------------------------> 
<%- include ("./partials/header.ejs") %>
<div class="container">
    <div class="card text-center ">
        <div class="card-block">
        <a href="/helpinfo/<%= person.id %>"><img src="<%= person.imgURL %>" alt="" class="img-fluid rounded-circle my-4"></a>
            <h3><%= person.name %></h3>
            <h5><%= person.city %></h5>
            <!-- <p class="text-mute"><%= person.shortSummary %></p> -->
            <p class="text-mute"><%= person.body %></p>
            <div class="p-4">
                <!-- <a href="/helpinfo/<%= person.id %>"><button id="sendMessageButton" class="main-btn" type="submit" value="Submit">Learn More...</button></a> -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="Nabifreedom@outlook.com" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
    </div>
</div>


<!--==========================
    Footer  Section
============================-->
<%- include ("./partials/footer.ejs") %>

<!-- Optional JavaScript -->
<%- include ("./partials/jsdefault.ejs") %>
</body>
</html>