<!doctype html>
<html lang="en">
  <head>



    <!-- =================
                        HEAD
                      ============================ -->
    <%- include ("./partials/head.ejs") %>
  </head>
  <body>


     <!-- <-----------------NAVBAR----------------------------------> 

     <%- include ("./partials/header.ejs") %>





<!-- <--------------------------REGISTER SECTION ------------------------------------------> 
    <section id="register">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 id="register" class="text-center mb-3">
              Register
            </h1>
            <!-- THIS FORM GOES TO USERS AND IT'S GOING TO BE A POST REQUEST 
            -->
            
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="fName">First Name</label>
                <input
                  type="fName"
                  id="fName"
                  name="fName"
                  class="form-control"
                  placeholder="First Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>">
                  <!--IF TYPE OF NAME DOES NOT EQUAL TO UNDEFINE THEN DISPLAY WHATEVER THE NAME VARIABLE IS -->
              </div>
              <div class="form-group">
                <label for="lName">Last Name</label>
                <input type="lName"
                    id="lName"
                    name="lName"
                    class="form-control"
                    placeholder="Last Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                >
              </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Enter Username"
                    value="<%= typeof name != 'undefined' ? name : '' %>">
                </div>
              
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                >
              </div>
              
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                >
              </div >
              <div class="clearfix"></div>
						<div >
							<div id="success">
							<button id="sendMessageButton" class="main-btn btn-lg btn-block" type="submit">REGISTER</button>
                        </div>
                    </div>
            </form>
            <p class=" mt-4">Have An Account? <a href="/login">Login</a></p>
          </div>
        </div>
      </div>
    </section>


<!--==========================
    Footer  Section
============================-->

<%- include ("./partials/footer.ejs") %>

<!-- Optional JavaScript -->
<%- include ("./partials/jsdefault.ejs") %>
  </body>
</html>